<div class="container">
    <div *ngIf="caddyService.getCurrentCaddy().listProductInCaddy.length!=0 && mode==0">
        <div class="panel col-md-8">
            <div><h3>Panier :</h3></div>
            <div class="panel-body" *ngFor="let pi of caddyService.getCurrentCaddy().listProductInCaddy"> 
                <div class="col-md-5">
                    <img class="photoProduct img-thumbnail" src="{{this.prodcatService.host+'/photoProduct/'+pi.id+'?ts='+getTS()}}">
                </div>
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>{{pi.description}}</p> 
                            <p>Quantité: {{pi.quantityOrder}}</p> 
                         </div>
                        <div class="panel-body">
                            <p><label [ngClass]="pi.promotion==true?'line':''">{{pi.prix | number:'0.2'}}€ </label> <strong class="red" *ngIf="pi.promotion==true"> {{pi.prixPromo | number:'0.2'}}€  </strong></p>
                            <p *ngIf="pi.promotion==true" class="red">Vous économisez {{(pi.prix  - pi.prixPromo) *100/pi.prix | number:'0.1-1'}}%</p> 
                            <p class="clickable" (click)="removeProductIncaddy(pi)"><img class="remove" src="assets/images/remove.png"> Supprimer</p>                   
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger col-md-4>">
            <div class=" panel-heading"> <h3>Total :</h3></div>
            <div class="panel-body">
                    <p><span>Sous-total: </span><strong class="pull-right">{{caddyService.getTotalCurrentCaddy()}} €</strong></p>
                    <p><span>Livraison: </span><strong class="pull-right">0.00 €</strong></p>
                    <h3> Total : <strong class="pull-right">{{caddyService.getTotalCurrentCaddy()}} €</strong></h3>
                    <br>
                    <div><button class="commander" (click)="toOrder(caddyService.getCurrentCaddy())">Commander</button></div>  
            </div>
        </div>
    </div>
    <div *ngIf="caddyService.getCurrentCaddy().listProductInCaddy.length==0 && mode==0" >
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="shoppingCart"><img src="assets/images/shoppingCart.png"></p>
                <p class="shoppingCart">Le panier est vide</p>
                <div class="left-div">
                    <button type="button" class="btn btn-primary btn-lg" (click)="login()" *ngIf="!authService.isAthenticated">Connecter</button>
                </div>
                <div class="right-div">
                    <button type="button" class="btn btn-warning btn-lg" (click)='continuePurchase()'>Continuer vos achats</button>
                </div>
            </div>
          </div>
    </div>
    <div *ngIf="mode==1">
        <h3>Choisissez le mode paiement</h3>
        <div class="modePayment">
            <button class="btn btn-primary paye" (click)="creditCart()">CARTE DE CREDIT</button>
            <button class="btn btn-primary paye" (click)="payPal()">PAYPAL</button>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="mode==2">
            <h3 class="panel-heading">Payement carte de credit</h3>
        <div class="panel-body">
            <form [formGroup]="formPayment" (ngSubmit)="onPayment(formPayment.value)">
                <div class="form-group">
                  <label class="control-label"> N° Carte Bancaire </label>
                  <input class="form-control" type="text" formControlName="cardNumber" required="" minlength="9" maxlength="9"/>
                </div>
                <div class="form-group">
                  <label class="control-label"> Code </label>
                  <input class="form-control" type="text" formControlName="code" required="" minlength="3" maxlength="3"/>
                </div>
                <div class="form-group">
                  <label class="control-label"> Date d'expiration </label>
                  <input class="form-control" type="date" formControlName="dateExpiration" required=""/>
                </div>
                <div class="form-group">
                    <label class="control-label"> Montant de la commande: {{caddyService.getCurrentCaddy().totalPrix| number:'0.2'}}€</label>
                </div>
                <button class="btn btn-primary" [disabled]='!formPayment.valid' >Valider</button>
              </form>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="mode==3">
        <h3 class="panel-heading">Payement par Paypal</h3>
    <div class="panel-body">
        <form [formGroup]="formPpPayment" (ngSubmit)="onPayment(formPpPayment.value)">
            <div class="form-group">
              <label class="control-label"> N° compte </label>
              <input class="form-control" type="text" formControlName="accountNumber" required="" minlength="9" maxlength="9"/>
            </div>
            <div class="form-group">
                <label class="control-label"> Montant de la commande: {{caddyService.getCurrentCaddy().totalPrix| number:'0.2'}}€</label>
                
              </div>
            <button class="btn btn-primary" [disabled]='!formPpPayment.valid' >Valider</button>
          </form>
    </div>
</div>

</div>

