.line {
    text-decoration: line-through;
  }

.red {
      color: red;
  }
.commander{
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ff6900;
    color: #fff;
    width: 30%;
}
.remove{
  height: 20px;
  width: 20px;
}
.clickable{
  cursor: pointer;
}

.shoppingCart {
  text-align: center;
  font-size: xx-large;
}

.left-div{
     display: inline-block;
}
.right-div{
    float: right;
}

.modePayment{
  display: grid;
  grid-template-columns: auto auto;
}

.paye{
  margin: 20px;
  height: 100px;
}