<div *ngIf ="currentProduct">
    <div class="panel panel-default" *ngIf="mode==0">
        <div class=" panel-heading"> Fiche Produit : {{currentProduct.designation}}
            <button *ngIf="this.authService.isAdmin()" class="btn btn-info pull-right" (click) = "editProduct()">Modifier</button>
        </div>
        <div class="panel-body"> 
            <div class="col-md-5">
                <img class="photoProduct img-thumbnail" src="{{this.prodcatService.host+'/photoProduct/'+currentProduct.id+'?ts='+getTS()}}">
                <div *ngIf="this.authService.isAdmin()">
                    <button (click)="onEditPhoto(currentProduct)" class="editphoto">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="editphototext">Modifier l'image</span>
                    </button>
                    <p *ngIf="editPhoto==true">
                        <input type="file" (change)="onSelectedFile($event)">
                        <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
                        {{progress}}%
                    </p>
                </div>
                <div>
                    {{currentProduct.description}}
                </div>
                <div>
                    <p><label [ngClass]="currentProduct.promotion==true?'line':''">{{currentProduct.prix | number:'0.2'}}€</label> <strong class="red" *ngIf="currentProduct.promotion==true"> {{currentProduct.prixPromo | number:'0.2'}}€  </strong></p>
                </div>
                <form #myform = "ngForm" (ngSubmit) = "addProductOnShoppingCart(currentProduct)">
                    <label class="control-label"> Quantité :</label>
                    <input type="number" name="quantity" [(ngModel)]="currentProduct.quantityOrder" ngModel class="quantity">
                    <button>
                        <img class="shoppingCart" src="assets/images/shoppingCart.png">
                    </button>
                </form>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><label [ngClass]="currentProduct.promotion==true?'line':''">{{currentProduct.prix | number:'0.2'}}€</label> <strong class="red" *ngIf="currentProduct.promotion==true"> {{currentProduct.prixPromo | number:'0.2'}}€  </strong></p>
                    </div>
                    <div class="panel-body">
                        Description: {{currentProduct.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="mode==1">
        <form #myform = "ngForm" (ngSubmit) ="updateProduct(myform.value)">
            <div class="form-group">
                <label class="control-label">Designation:</label>
                <input type="text" name="designation" ngModel [(ngModel)]="currentProduct.designation" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Description:</label>
                <textarea type="text" name="description" ngModel [(ngModel)]="currentProduct.description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Prix:</label>
                <input type="text" name="prix" ngModel [(ngModel)]="currentProduct.prix" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Promotion:</label>
                <input type="text" name="prixPromo" ngModel [(ngModel)]="currentProduct.prixPromo" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Quantité:</label>
                <input type="text" name="quantity" ngModel [(ngModel)]="currentProduct.quantity" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Promotion:</label>
                <select class="custom-select" name="promotion" ngModel [(ngModel)]="currentProduct.promotion">
                    <option value = "true"> Oui</option>
                    <option value = "false">Non</option>
                </select>
            </div>
            <button class="btn btn-success">Modifier</button>
        </form>
    </div>
</div>