
.line {
    text-decoration: line-through;
  }

  .red {
      color: red;
  }

  .quantity{
      width: 40px;
  }

  .shoppingCart {
      width: 40px;
      height: 20px;
  }
  .editphoto {
    position: relative;
    opacity: 50;
  }
  
  .editphoto .editphototext {
    visibility: hidden;
    width: 120px;
    background-color: #5bc0de;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
  }
  
  .editphoto:hover .editphototext {
    visibility: visible;
  }