<div class="container">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success clickable" (click)="infoUser()"  [ngClass]= "mode ==1?'active':''">
                Informations
            </li>
            <li class="list-group-item list-group-item-success clickable" (click)="orders()" [ngClass]= "mode ==2?'active':''">
                Commandes
            </li>
        </ul>
    </div>
    <div class="col-md-9" *ngIf="mode==2">
        <h3>Mes commandes</h3>
            <div class="panel panel-default" *ngFor="let o of listProducts">
                <div class="panel panel-heading">{{o.designation}}</div>
                <div class="panel-body">
                    <div class="col-md-5">
                        <img class="photoProduct img-thumbnail" src="{{this.prodcatService.host+'/photoProduct/'+o.id}}">
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>{{o.description}}</p> 
                                <p>Quantité: {{o.quantityOrder}}</p> 
                             </div>
                            <div class="panel-body">
                                <p><label [ngClass]="o.promotion==true?'line':''">{{o.prix | number:'0.2'}}€ </label> <strong class="red" *ngIf="o.promotion==true"> {{o.prixPromo | number:'0.2'}}€  </strong></p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="panel panel-default" *ngIf="listProducts==undefined">
                <div class="panel-body">
                    <h4>Aucune commande effectuée</h4>
                </div>
            </div>
    </div>
    <div *ngIf="mode==1" class="col-md-9">

        <div class="panel panel-default">
            <h3> Mes informations</h3>

            <hr/>
            <div class="panel-body" *ngIf="client">
                <div>
                    <label><b>Username :  </b> {{client.username}}</label> 
                </div>
                <div>
                    <label><b>Password :  </b> {{client.password}}</label> 
                </div>
                <div>
                    <label><b>N° :  </b> {{client.address.streetNumber}}</label> 
                </div>
                <div>
                    <label><b>Rue :  </b> {{client.address.street}}</label> 
                </div>
                <div>
                    <label><b>Code Postal :  </b> {{client.address.postalCode}}</label> 
                </div>
                <div>
                    <label><b>Ville :  </b> {{client.address.city}}</label> 
                </div>
            </div>
            <br>
            <br>
            <button (click)="updateClient(client.id)" class="btn btn-primary">Modifier</button><br>
        </div>
    </div>
    <div *ngIf="mode==3" class="col-md-9">
        <h3>Modifier </h3>
    <form [formGroup]="FormEditClient" (ngSubmit)="onUpdateClient()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="client.username" formControlName="username">
        </div>

        <div class="form-group">
            <label for="password">Mot de Passe</label>
            <input type="text" class="form-control" id="password" required [(ngModel)]="client.password" formControlName="password">
        </div>

        <div class="form-group">
            <label for="roles"> Role </label>
            <select class="form-control" formControlName="roles" [(ngModel)]="client.roles" required="" multiple>
              <option  value="USER" selected>USER</option>
              <option  value="ADMIN" >AMDIN</option>
            </select>
          </div>
          <div formGroupName="address">
        <div class="form-group">
            <label for="streetNumber">N°</label>
            <input type="text" class="form-control" id="streetNumber" required [(ngModel)]="client.address.streetNumber" formControlName="streetNumber">
        </div>

        <div class="form-group">
            <label for="street">Rue</label>
            <input type="text" class="form-control" id="street" required [(ngModel)]="client.address.street" formControlName="street">
        </div>

        <div class="form-group">
            <label for="postalCode">Code postal</label>
            <input type="text" class="form-control" id="postalCode" required [(ngModel)]="client.address.postalCode" formControlName="postalCode">
        </div>

        <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" class="form-control" id="city" required [(ngModel)]="client.address.city" formControlName="city">
        </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>

</div>
