 <div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Authentification</div>
        <div class="panel-body">
            <form #myform = "ngForm" (ngSubmit)="onLogin(myform.value)">
                <div class="form-group">
                    <label class="control-label"> Username</label>
                    <input type="text" name="username" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label"> Password</label>
                    <input type="password" name="password" ngModel class="form-control">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
 </div>

