.clickable{
    cursor: pointer;
}

.shoppingCart {
    width: 40px;
    height: 20px;
}
.sup {
    color: red;
    font-weight: bold;
}
.cat{
    display: inline-block;
    width:30%
}
@media (max-width: 800px) {
    .cat {
      display: block;
    }
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
