<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active clickable"><a (click)="getProducts()">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Produits
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="clickable" (click)="getProductsPromo()">Promotion</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a routerLink="/caddies">Panier</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
        <span class="glyphicon glyphicon-user dropbtn"></span>
        <span class="dropdown-content clickable">
          <a *ngIf="!authService.isAthenticated" (click)="onLogin()">Connecter</a>
          <a *ngIf="authService.isAthenticated" (click)="onLogout()">Déconnecter</a>
          <a *ngIf="authService.isAthenticated" (click)="onOrders()">Mes commandes</a>
          <a *ngIf="authService.isAthenticated" (click)="onInfos()">Mes informations</a>
        </span>
      </li>
      <li>
        <span class="glyphicon glyphicon-shopping-cart dropbtn"><sup class="sup" *ngIf="caddyService.getCurrentCaddy().listProductInCaddy.length!=0">{{caddyService.getCurrentCaddy().listProductInCaddy.length}}</sup></span>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div>
    <ul class="list-group" *ngIf="categories">
      <li [ngClass]= "currentCategory==c || paramIdProduct == c.id?'active':''" (click)="getProductByCategory(c)" class="list-group-item clickable cat" *ngFor="let c of categories">
        {{c.name}}
      </li>
    </ul>
  </div>
  <div>
    <router-outlet>
      
    </router-outlet>
  </div>
</div>