<div *ngIf="products">
    <div><h3>{{title}}</h3></div>
    <div *ngFor="let p of products">
        <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading"> Produit </div>
            <div class="panel-body"> 
                <img class="photoProduct img-thumbnail" (click)="onDetailProduct(p)" src="{{this.prodcatService.host+'/photoProduct/'+p.id+'?ts='+getTS()}}">
                <div *ngIf="this.authService.isAdmin()">
                    <button (click)="onEditPhoto(p)" class="editphoto">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="editphototext">Modifier l'image</span>
                    </button>
                    <p *ngIf="editPhoto==true && currentProduct==p">
                        <input type="file" (change)="onSelectedFile($event)">
                        <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
                        {{progress}}%
                    </p>
                </div>
                <div>
                    {{p.description}}
                </div>
                <div>
                    <p><label [ngClass]="p.promotion==true?'line':''">{{p.prix | number:'0.2'}}€</label> <strong class="red" *ngIf="p.promotion==true"> {{p.prixPromo | number:'0.2'}}€  </strong></p>
                </div>
                <form #myform = "ngForm" (ngSubmit) = "addProductOnShoppingCart(p)">
                    <label class="control-label"> Quantité :</label>
                    <input type="number" name="quantity" [(ngModel)]="p.quantityOrder" ngModel class="quantity">
                    <button>
                        <img class="shoppingCart" src="assets/images/shoppingCart.png">
                    </button>
                </form>
            </div>
        </div>
        </div>
    </div>

</div>
